.home
  &-wrapper
    height: 100vh
    width: 100%
    position: relative
    z-index: 88

  &-slide
    height: 100%
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    text-align: center 

    *
      color: $color_white

    &.one
      background-color: blue
      background-position: center
      background-size: cover
      position: relative

      h1
        font-family: $font_meow
        font-size: 70px
        line-height: .8em
        font-weight: 400
        padding-bottom: 215px
        text-shadow: 0 0 8px rgba(0,0,0,0.6)
      
      h2
        line-height: 1.5em  
        font-weight: 300 
        font-size: 20px
        letter-spacing: 2px
        padding-bottom: 25px
        text-transform: uppercase
      
      h3
        line-height: 1.5em  
        font-weight: 300
        font-size: 20px
        letter-spacing: 2px
        text-transform: uppercase

      .home-slide--wrapper
        padding: 24px
        position: relative
        z-index: 88
        margin-top: -120px

    &.two
      background-color: red
      background-image: url(../img/home/ineedyou.gif)
      background-size: cover
      background-position: center

      h2 
        padding-bottom: 25px
        font-size: 30px
        letter-spacing: 3px
        text-transform: uppercase 
        margin-top: -40px

      h3
        padding-bottom: 25px
        font-size: 20px
        letter-spacing: 3px
        text-transform: uppercase 

      p
        margin-bottom: 1em

      &::after
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: rgba(0,0,0,.24)
        z-index: 8


    &.three 
      background-color: black
      background-image: url(../img/home/rocky.gif)
      background-size: cover
      background-position: center

      h2 
        padding-bottom: 25px
        font-size: 56px
        letter-spacing: 3px
        text-transform: uppercase


    &.four
      background-color: pink
      background-image: url(../img/home/capela.jpg)
      background-size: cover
      background-position: center

      &::after
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: rgba(0,0,0,.24) 
        z-index: 8

      h2
        padding-bottom: 25px 
        font-size: 40px
        letter-spacing: 3px
        text-transform: uppercase 
        text-shadow: 0 0 .25em rgba(0,0,0,.5)

      h3
        font-size: 25px
        letter-spacing: 3px
        padding-bottom: 24px
        font-weight: 600
        text-shadow: 0 0 .25em rgba(0,0,0,.5)
        text-transform: uppercase

      p
        text-transform: unset     
        padding: 40px 0 
        color: #fff
        font-size: 18px
        line-height: 2em

    &.five
      background-color: teal
      background-image: url(../img/home/champagne.gif)
      background-size: cover
      background-position: center
 
      &::after
        content: ''
        position: absolute 
        top: 0 
        left: 0
        width: 100%
        height: 100%
        background-color: rgba(0,0,0,.24) 
        z-index: 8

      h2
        padding-bottom: 25px 
        font-size: 40px
        letter-spacing: 3px
        text-transform: uppercase
        text-shadow: 0 0 .25em rgba(0,0,0,.5)

      h3
        font-size: 25px
        letter-spacing: 3px
        font-weight: 600
        padding-bottom: 24px
        text-shadow: 0 0 .25em rgba(0,0,0,.5)
        text-transform: uppercase

    &.six
      background-color: grey
      background-image: url(../img/home/callcenter.gif)
      background-size: cover
      background-position: center

      h2
        padding-bottom: 25px 
        font-size: 40px
        letter-spacing: 3px
        text-transform: uppercase
        text-shadow: 0 0 .25em rgba(0,0,0,.5)
    

      .texto
        padding: 15px 0 40px
        color: #fff 
        font-size: 18px
        line-height: 2em

      
      &::after 
        content: ''
        position: absolute 
        top: 0 
        left: 0
        width: 100%
        height: 100%
        background-color: rgba(0,0,0,.3) 
        z-index: 8

    &.seven
      background-color: black
      background-image: url(../img/home/sleeping.gif)
      background-size: cover
      background-position: center

      h2
        padding-bottom: 25px 
        font-size: 40px
        letter-spacing: 3px
        text-transform: uppercase
        text-shadow: 0 0 .25em rgba(0,0,0,.5)


    &--wrapper
      padding: 24px
      position: relative
      z-index: 88

      p        
        text-transform: uppercase
        font-size: 16px
        line-height: 2em


    &--cta
      padding: 24px 0
      font-size: 13px



  &-pagination
    position: fixed
    bottom: 0
    z-index: 888
    justify-content: center
    display: flex
    padding: 36px 24px
    align-items: center

    
    .swiper-pagination
      &-bullet
        width: 8px
        height: 8px
        background-color: $color_white !important
        transition: .8s
        opacity: 1 !important
        box-shadow: 0 0 4px rgba(0,0,0,.16)

        &-active
          width: 16px
          height: 16px
          box-shadow: 0 0 8px rgba(0,0,0,.16)
