.home
  &-wrapper
    height: 100vh
    width: 100%
    position: relative
    z-index: 88

  &-slide
    height: 100%
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    text-align: center 

    *
      color: $color_white

    &.one
      background-color: blue
      background-position: center
      background-size: conver
      position: relative

      //&::before
        content: ''
        width: 50%
        max-width: 550px
        padding-bottom: 50%
        height: 0
        position: absolute
        top: 0
        right: 0
        background-image: url(../img/home/canto-direito.png)
        background-position: top right
        background-repeat: no-repeat
        background-size: contain
        

      //&::after
        content: ''
        width: 50%
        max-width: 550px
        padding-bottom: 50% 
        height: 0
        position: absolute
        bottom: 0
        left: 0
        background-image: url(../img/home/canto-esquerdo.png)
        background-position: bottom left
        background-repeat: no-repeat
        background-size: contain
        

      h1
        font-family: $font_meow
        font-size: 50px
        line-height: 1.5em
        font-weight: 400
        padding-bottom: 25px
      
      h2
        line-height: 1.5em  
        font-weight: 300
        font-size: 20px
        letter-spacing: 2px
        padding-bottom: 25px
        text-transform: uppercase
      
      h3
        line-height: 1.5em  
        font-weight: 300
        font-size: 20px
        letter-spacing: 2px
        text-transform: uppercase

    &.two
      background-color: red
      background-image: url(../img/home/comeon.gif)
      background-size: cover
      background-position: center

      &::after
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: rgba(0,0,0,.24)
        z-index: 8


    &.three 
      background-color: black
      background-image: url(../img/home/treino.gif)
      background-size: cover
      background-position: center

      h2
        padding-bottom: 25px
        font-size: 56px
        letter-spacing: 3px
        text-transform: uppercase


    &.four
      background-color: pink
      background-image: url(../img/home/capela.jpg)
      background-size: cover
      background-position: center

      &::after
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: rgba(0,0,0,.24) 
        z-index: 8

      h2
        padding-bottom: 25px 
        font-size: 40px
        letter-spacing: 3px
        text-transform: uppercase
        text-shadow: 0 0 .25em rgba(0,0,0,.5)

      h3
        font-size: 25px
        letter-spacing: 3px
        padding-bottom: 24px
        font-weight: 300
        text-shadow: 0 0 .25em rgba(0,0,0,.5)
        text-transform: uppercase

    &.five
      background-color: teal
      background-image: url(../img/home/champagne3.gif)
      background-size: cover
      background-position: center
 
      &::after
        content: ''
        position: absolute 
        top: 0 
        left: 0
        width: 100%
        height: 100%
        background-color: rgba(0,0,0,.24) 
        z-index: 8

      h2
        padding-bottom: 25px 
        font-size: 40px
        letter-spacing: 3px
        text-transform: uppercase
        text-shadow: 0 0 .25em rgba(0,0,0,.5)

      h3
        font-size: 25px
        letter-spacing: 3px
        font-weight: 300
        padding-bottom: 24px
        text-shadow: 0 0 .25em rgba(0,0,0,.5)
        text-transform: uppercase

    &.six
      background-color: grey
      background-image: url(../img/home/callcenter.gif)
      background-size: cover
      background-position: center

      h2
        padding-bottom: 25px 
        font-size: 40px
        letter-spacing: 3px
        text-transform: uppercase
        text-shadow: 0 0 .25em rgba(0,0,0,.5)

    &.seven
      background-color: black
      background-image: url(../img/home/sleeping.gif)
      background-size: cover
      background-position: center

      h2
        padding-bottom: 25px 
        font-size: 40px
        letter-spacing: 3px
        text-transform: uppercase
        text-shadow: 0 0 .25em rgba(0,0,0,.5)

    &--wrapper
      padding: 24px
      position: relative
      z-index: 88

      p        
        text-transform: uppercase
        font-size: 16px
        line-height: 2em

    &--cta
      padding: 24px 0
      font-size: 13px



  &-pagination
    position: fixed
    bottom: 0
    z-index: 888
    justify-content: center
    display: flex
    padding: 36px 24px
    align-items: center

    
    .swiper-pagination
      &-bullet
        width: 8px
        height: 8px
        background-color: $color_white !important
        transition: .8s
        opacity: 1 !important
        box-shadow: 0 0 4px rgba(0,0,0,.16)

        &-active
          width: 16px
          height: 16px
          box-shadow: 0 0 8px rgba(0,0,0,.16)
