.cta
  color: $color_black
  background-color: $color_white
  border-style: solid
  border-color: $color_white
  border-radius: 3em
  border-width: 1px
  padding: 1em 2em
  line-height: 1em
  font-size: 1em
  transition: .25s
  cursor: pointer
 
  &:hover
    border-color: $color_darkblue
    background-color: $color_darkblue

  &-secondary
    color: $color_white
    background-color: $color_darkblue
    border-style: solid
    border-color: $color_darkblue
    border-radius: 3em
    border-width: 1px
    padding: 1em 2em
    line-height: 1.5em
    font-size: 1em
    transition: .25s
    cursor: pointer

    &:hover
      border-color: $color_blue
      background-color: $color_blue

.cta_social
  color: inherit
  background-color: transparent
  border-style: solid
  border-color: inherit
  border-radius: 40px
  border-width: 1px
  padding: 0
  width: 40px
  height: 40px
  display: inline-flex
  font-size: 18px
  transition: .25s
  position: relative

  i, img
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

#back_top
  position: fixed
  bottom: 100px
  right: 24px
  width: 40px
  height: 40px
  border-radius: 50%
  color: $color_white
  background-color: $color_blue
  border: 1px solid $color_white
  z-index: 888
  display: none
  cursor: pointer

  .material-icons
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)