@charset "UTF-8";
/***** end loops ****/
/** COLOR **/
/** FONT **/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  outline: none; }

small {
  font-size: .6em; }

sub, sup {
  font-size: .6em;
  line-height: 0; }

* {
  box-sizing: border-box; }
  *:focus {
    outline: none; }
  *:focus {
    outline: none; }

html {
  position: relative; }

body, html {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #000; }

body {
  position: relative;
  width: 100%;
  overflow-x: hidden; }

a {
  text-decoration: none;
  display: inline-block;
  color: inherit; }
  a:hover, a:focus, a:active {
    outline: none; }
  a:hover {
    text-decoration: none; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 888; }
  .header-navigation {
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 88; }
    .header-navigation .nav_opener {
      display: block;
      color: #001959;
      padding: 24px; }
      .header-navigation .nav_opener img {
        width: 24px;
        height: 24px;
        object-fit: contain; }
      .header-navigation .nav_opener .open {
        position: relative; }
      .header-navigation .nav_opener .close {
        display: none; }
      .header-navigation .nav_opener.active .open {
        display: none; }
      .header-navigation .nav_opener.active .close {
        display: block; }
  .header-menu {
    position: absolute;
    z-index: 8;
    top: 0;
    height: 100vh;
    background-color: #111;
    transform: translateX(100%);
    right: 0;
    transition: .8s;
    padding-top: 76px;
    width: 250px; }
    .header-menu.active {
      transform: translateX(0); }
  .header .menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0; }
    .header .menu-item {
      display: block;
      position: relative;
      margin: 0;
      width: 100%;
      text-align: left; }
      .header .menu-item > a {
        display: block;
        color: #FFF;
        font-size: 18px;
        line-height: 1.5em;
        font-weight: 400;
        padding: .5em 2em;
        margin: 0;
        position: relative;
        line-height: 50px;
        font-size: 16px; }
      .header .menu-item:hover > a, .header .menu-item.current-menu-item > a {
        background-color: #fff;
        color: #111; }
  .header .credits {
    color: white;
    text-align: left;
    bottom: 0;
    padding: 24px;
    line-height: 2em;
    margin-top: 24px;
    border-top: 1px solid; }

.footer {
  background-color: rgba(0, 0, 0, 0.45);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 11px;
  line-height: 20px;
  z-index: 8888; }
  .footer * {
    color: #FFF; }

/* ====================
	* GRID *
==================== */
.grid {
  display: grid;
  gap: 16px; }

.no-gap {
  gap: 0; }

.big-gap {
  gap: 54px; }

.gap-32 {
  gap: 32px; }

.col-1 {
  grid-template-columns: repeat(1, 1fr); }

.col-2 {
  grid-template-columns: repeat(2, 1fr); }

.col-3 {
  grid-template-columns: repeat(3, 1fr); }

.col-4 {
  grid-template-columns: repeat(4, 1fr); }

.col-5 {
  grid-template-columns: repeat(5, 1fr); }

.col-6 {
  grid-template-columns: repeat(6, 1fr); }

.col-7 {
  grid-template-columns: repeat(7, 1fr); }

.col-8 {
  grid-template-columns: repeat(8, 1fr); }

.col-9 {
  grid-template-columns: repeat(9, 1fr); }

.col-10 {
  grid-template-columns: repeat(10, 1fr); }

.col-11 {
  grid-template-columns: repeat(11, 1fr); }

.col-12 {
  grid-template-columns: repeat(12, 1fr); }

.span-1 {
  grid-column: span 1; }

.span-2 {
  grid-column: span 2; }

.span-3 {
  grid-column: span 3; }

.span-4 {
  grid-column: span 4; }

.span-5 {
  grid-column: span 5; }

.span-6 {
  grid-column: span 6; }

.span-7 {
  grid-column: span 7; }

.span-8 {
  grid-column: span 8; }

.span-9 {
  grid-column: span 9; }

.span-10 {
  grid-column: span 10; }

.span-11 {
  grid-column: span 11; }

.span-12 {
  grid-column: span 12; }

@media screen and (max-width: 1200px) {
  .lg-col-1 {
    grid-template-columns: repeat(1, 1fr); }
  .lg-col-2 {
    grid-template-columns: repeat(2, 1fr); }
  .lg-col-3 {
    grid-template-columns: repeat(3, 1fr); }
  .lg-col-4 {
    grid-template-columns: repeat(4, 1fr); }
  .lg-col-5 {
    grid-template-columns: repeat(5, 1fr); }
  .lg-col-6 {
    grid-template-columns: repeat(6, 1fr); }
  .lg-col-7 {
    grid-template-columns: repeat(7, 1fr); }
  .lg-col-8 {
    grid-template-columns: repeat(8, 1fr); }
  .lg-col-9 {
    grid-template-columns: repeat(9, 1fr); }
  .lg-col-10 {
    grid-template-columns: repeat(10, 1fr); }
  .lg-col-11 {
    grid-template-columns: repeat(11, 1fr); }
  .lg-col-12 {
    grid-template-columns: repeat(12, 1fr); }
  .lg-span-1 {
    grid-column: span 1; }
  .lg-span-2 {
    grid-column: span 2; }
  .lg-span-3 {
    grid-column: span 3; }
  .lg-span-4 {
    grid-column: span 4; }
  .lg-span-5 {
    grid-column: span 5; }
  .lg-span-6 {
    grid-column: span 6; }
  .lg-span-7 {
    grid-column: span 7; }
  .lg-span-8 {
    grid-column: span 8; }
  .lg-span-9 {
    grid-column: span 9; }
  .lg-span-10 {
    grid-column: span 10; }
  .lg-span-11 {
    grid-column: span 11; }
  .lg-span-12 {
    grid-column: span 12; } }

@media screen and (max-width: 1024px) {
  .md-col-1 {
    grid-template-columns: repeat(1, 1fr); }
  .md-col-2 {
    grid-template-columns: repeat(2, 1fr); }
  .md-col-3 {
    grid-template-columns: repeat(3, 1fr); }
  .md-col-4 {
    grid-template-columns: repeat(4, 1fr); }
  .md-col-5 {
    grid-template-columns: repeat(5, 1fr); }
  .md-col-6 {
    grid-template-columns: repeat(6, 1fr); }
  .md-col-7 {
    grid-template-columns: repeat(7, 1fr); }
  .md-col-8 {
    grid-template-columns: repeat(8, 1fr); }
  .md-col-9 {
    grid-template-columns: repeat(9, 1fr); }
  .md-col-10 {
    grid-template-columns: repeat(10, 1fr); }
  .md-col-11 {
    grid-template-columns: repeat(11, 1fr); }
  .md-col-12 {
    grid-template-columns: repeat(12, 1fr); }
  .md-span-1 {
    grid-column: span 1; }
  .md-span-2 {
    grid-column: span 2; }
  .md-span-3 {
    grid-column: span 3; }
  .md-span-4 {
    grid-column: span 4; }
  .md-span-5 {
    grid-column: span 5; }
  .md-span-6 {
    grid-column: span 6; }
  .md-span-7 {
    grid-column: span 7; }
  .md-span-8 {
    grid-column: span 8; }
  .md-span-9 {
    grid-column: span 9; }
  .md-span-10 {
    grid-column: span 10; }
  .md-span-11 {
    grid-column: span 11; }
  .md-span-12 {
    grid-column: span 12; } }

@media screen and (max-width: 680px) {
  .sm-col-1 {
    grid-template-columns: repeat(1, 1fr); }
  .sm-col-2 {
    grid-template-columns: repeat(2, 1fr); }
  .sm-col-3 {
    grid-template-columns: repeat(3, 1fr); }
  .sm-col-4 {
    grid-template-columns: repeat(4, 1fr); }
  .sm-col-5 {
    grid-template-columns: repeat(5, 1fr); }
  .sm-col-6 {
    grid-template-columns: repeat(6, 1fr); }
  .sm-col-7 {
    grid-template-columns: repeat(7, 1fr); }
  .sm-col-8 {
    grid-template-columns: repeat(8, 1fr); }
  .sm-col-9 {
    grid-template-columns: repeat(9, 1fr); }
  .sm-col-10 {
    grid-template-columns: repeat(10, 1fr); }
  .sm-col-11 {
    grid-template-columns: repeat(11, 1fr); }
  .sm-col-12 {
    grid-template-columns: repeat(12, 1fr); }
  .sm-span-1 {
    grid-column: span 1; }
  .sm-span-2 {
    grid-column: span 2; }
  .sm-span-3 {
    grid-column: span 3; }
  .sm-span-4 {
    grid-column: span 4; }
  .sm-span-5 {
    grid-column: span 5; }
  .sm-span-6 {
    grid-column: span 6; }
  .sm-span-7 {
    grid-column: span 7; }
  .sm-span-8 {
    grid-column: span 8; }
  .sm-span-9 {
    grid-column: span 9; }
  .sm-span-10 {
    grid-column: span 10; }
  .sm-span-11 {
    grid-column: span 11; }
  .sm-span-12 {
    grid-column: span 12; } }

body {
  width: 100vw;
  overflow-x: hidden; }
  body.overflow_hidden {
    overflow: hidden; }

ul {
  padding-left: 1.5em; }
  ul > br {
    display: none; }

.wp-block-image.alignright {
  float: right;
  margin-left: 40px; }

.wp-block-image.alignleft {
  float: left;
  margin-right: 40px; }

.iframer {
  height: 0;
  padding-bottom: 56.25%;
  width: 100%;
  position: relative;
  margin-bottom: 16px; }
  .iframer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.wp-block-separator {
  clear: both; }

.table-doublecolomne > br {
  display: none; }

.table-doublecolomne table {
  padding-top: 1em;
  width: 100%;
  display: block; }
  .table-doublecolomne table tr {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap; }
  .table-doublecolomne table td {
    width: 50%;
    border: 0;
    padding: 0 0 1em;
    vertical-align: top; }
    @media (max-width: 990px) {
      .table-doublecolomne table td {
        width: 100% !important; }
        .table-doublecolomne table td img {
          display: none !important; } }
    .table-doublecolomne table td:first-child {
      padding-right: 40px; }
  .table-doublecolomne table img {
    width: 100%;
    height: auto; }

.entry-content, .post_content {
  font-size: 22px;
  line-height: 1.5em; }
  .entry-content:before, .entry-content:after, .post_content:before, .post_content:after {
    content: " ";
    display: table; }
  .entry-content:after, .post_content:after {
    display: block;
    clear: both;
    height: 1px;
    margin-top: -1px;
    visibility: hidden; }
  .entry-content, .post_content {
    *zoom: 1; }
  .entry-content .alignright, .post_content .alignright {
    float: right; }
  .entry-content .alignleft, .post_content .alignleft {
    float: left; }
  .entry-content .aligncenter, .post_content .aligncenter {
    width: 100%; }
  .entry-content *, .post_content * {
    word-break: break-word; }
  .entry-content p, .post_content p {
    padding-bottom: 1em; }
  .entry-content ul, .post_content ul {
    padding: 1em 0 1em 1.5em; }
    .entry-content ul li, .post_content ul li {
      list-style: disc;
      margin-bottom: .5em;
      line-height: 1.5em; }
      .entry-content ul li ul li, .post_content ul li ul li {
        list-style: circle; }
  .entry-content hr, .post_content hr {
    margin: 24px auto;
    display: block;
    max-width: 358px; }
  .entry-content a, .post_content a {
    color: #254FBC;
    text-decoration: underline; }
    .entry-content a:hover, .post_content a:hover {
      text-decoration: none; }
    .entry-content a:visited, .post_content a:visited {
      color: #CC00CC; }
    .entry-content a:focus, .post_content a:focus {
      font-weight: bold; }
  .entry-content h1, .post_content h1 {
    font-size: 2em;
    line-height: 1.5em;
    margin-bottom: 1em;
    word-break: break-word; }
  .entry-content h2, .post_content h2 {
    font-size: 1.8em;
    line-height: 1.5em;
    color: #254FBC;
    word-break: break-word; }
  .entry-content h3, .post_content h3 {
    font-size: 1.5em;
    line-height: 1.5em;
    word-break: break-word;
    color: #254FBC; }
  .entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6, .post_content h1, .post_content h2, .post_content h3, .post_content h4, .post_content h5, .post_content h6 {
    margin-bottom: .8em;
    color: #254FBC;
    font-weight: bold; }
  .entry-content .scrollable, .post_content .scrollable {
    padding: 1em 0;
    width: 100%;
    overflow: hidden;
    position: relative; }
    .entry-content .scrollable:after, .post_content .scrollable:after {
      content: "Veuillez faire défiler vers la droite pour en voir plus   >>";
      font-family: 'Work Sans', Arial, sans-serif;
      color: #FFF;
      background-color: #3eb8d7;
      position: absolute;
      z-index: 8;
      width: 100%;
      padding: .25em .5em;
      font-size: .6em;
      text-align: right !important;
      bottom: 0;
      left: 0; }
      @media (min-width: 586px) {
        .entry-content .scrollable:after, .post_content .scrollable:after {
          font-size: .8em; } }
    .entry-content .scrollable-container, .post_content .scrollable-container {
      width: 100%;
      padding-bottom: 1.5em;
      position: relative;
      overflow-x: auto; }
    .entry-content .scrollable table, .post_content .scrollable table {
      min-width: 740px; }
  .entry-content blockquote, .post_content blockquote {
    padding: 40px;
    background-color: #001959;
    border-radius: 8px;
    color: #FFF;
    font-size: 1.25em;
    display: block;
    margin: 2.5em 0; }
    @media (max-width: 768px) {
      .entry-content blockquote, .post_content blockquote {
        font-size: 1em;
        margin: 1.5em 0; } }
    .entry-content blockquote cite, .post_content blockquote cite {
      font-size: .8em; }
    .entry-content blockquote p:last-child, .post_content blockquote p:last-child {
      margin-bottom: 0;
      padding-bottom: 0; }
  .entry-content *:not(.table-doublecolomne) table, .post_content *:not(.table-doublecolomne) table {
    margin: 1em 0;
    min-width: 740px; }
    .entry-content *:not(.table-doublecolomne) table th, .post_content *:not(.table-doublecolomne) table th {
      background-color: #254FBC;
      color: #FFF; }
    .entry-content *:not(.table-doublecolomne) table tr:last-child td, .post_content *:not(.table-doublecolomne) table tr:last-child td {
      border-bottom: 1px solid; }
    .entry-content *:not(.table-doublecolomne) table td, .post_content *:not(.table-doublecolomne) table td {
      padding: .5em;
      border-color: #254FBC;
      border-top: 1px solid;
      border-right: 1px solid; }
      .entry-content *:not(.table-doublecolomne) table td:first-child, .post_content *:not(.table-doublecolomne) table td:first-child {
        border-left: 1px solid; }
    .entry-content *:not(.table-doublecolomne) table th, .post_content *:not(.table-doublecolomne) table th {
      padding: .5em;
      border-right: 1px solid #FFF; }
      .entry-content *:not(.table-doublecolomne) table th:last-child, .post_content *:not(.table-doublecolomne) table th:last-child {
        border-right: 0; }
    .entry-content *:not(.table-doublecolomne) table tr:nth-child(even), .post_content *:not(.table-doublecolomne) table tr:nth-child(even) {
      background-color: #E5E5E5; }

.modal_livre {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8888;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px); }
  .modal_livre--dialog {
    max-width: 970px;
    margin: 5vh auto;
    text-align: center; }
    .modal_livre--dialog img {
      display: inline-block;
      width: auto;
      max-width: 100%;
      height: auto;
      max-height: 90vh; }

.modal_warning {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8888;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px); }
  .modal_warning--dialog {
    max-width: 450px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; }
  .modal_warning--content {
    background-color: #fff;
    padding: 80px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 6px 11px rgba(0, 0, 0, 0.24); }
    @media (max-width: 768px) {
      .modal_warning--content {
        padding: 40px; } }
    @media (max-width: 550px) {
      .modal_warning--content {
        padding: 40px 24px; } }
  .modal_warning--title {
    color: #001965;
    font-size: 50px;
    line-height: 1.5em;
    font-weight: 400;
    width: 100%;
    margin-bottom: 24px; }
    @media (max-width: 880px) {
      .modal_warning--title {
        font-size: 40px; } }
    @media (max-width: 550px) {
      .modal_warning--title {
        font-size: 35px; } }
  .modal_warning--text {
    color: #001965;
    font-size: 20px;
    line-height: 1.5em;
    font-weight: 400;
    width: 100%;
    margin-bottom: 24px; }
    @media (max-width: 880px) {
      .modal_warning--text {
        font-size: 18px; } }
    @media (max-width: 550px) {
      .modal_warning--text {
        font-size: 16px; } }
  .modal_warning--link {
    text-align: center; }

.home-wrapper {
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 88; }

.home-slide {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .home-slide * {
    color: #FFF; }
  .home-slide.one {
    background-color: blue;
    background-position: center;
    background-size: cover;
    position: relative; }
    .home-slide.one h1 {
      font-family: "Meow Script", serif;
      font-size: 70px;
      line-height: .8em;
      font-weight: 400;
      padding-bottom: 215px;
      text-shadow: 0 0 8px rgba(0, 0, 0, 0.6); }
    .home-slide.one h2 {
      line-height: 1.5em;
      font-weight: 300;
      font-size: 20px;
      letter-spacing: 2px;
      padding-bottom: 25px;
      text-transform: uppercase; }
    .home-slide.one h3 {
      line-height: 1.5em;
      font-weight: 300;
      font-size: 20px;
      letter-spacing: 2px;
      text-transform: uppercase; }
    .home-slide.one .home-slide--wrapper {
      padding: 24px;
      position: relative;
      z-index: 88;
      margin-top: -120px; }
  .home-slide.two {
    background-color: red;
    background-image: url(../img/home/ineedyou.gif);
    background-size: cover;
    background-position: center; }
    .home-slide.two h2 {
      padding-bottom: 25px;
      font-size: 30px;
      letter-spacing: 3px;
      text-transform: uppercase;
      margin-top: -40px; }
    .home-slide.two h3 {
      padding-bottom: 25px;
      font-size: 20px;
      letter-spacing: 3px;
      text-transform: uppercase; }
    .home-slide.two p {
      margin-bottom: 1em; }
    .home-slide.two::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.24);
      z-index: 8; }
  .home-slide.three {
    background-color: black;
    background-image: url(../img/home/rocky.gif);
    background-size: cover;
    background-position: center; }
    .home-slide.three h2 {
      padding-bottom: 25px;
      font-size: 56px;
      letter-spacing: 3px;
      text-transform: uppercase; }
  .home-slide.four {
    background-color: pink;
    background-image: url(../img/home/capela.jpg);
    background-size: cover;
    background-position: center; }
    .home-slide.four::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.24);
      z-index: 8; }
    .home-slide.four h2 {
      padding-bottom: 25px;
      font-size: 40px;
      letter-spacing: 3px;
      text-transform: uppercase;
      text-shadow: 0 0 0.25em rgba(0, 0, 0, 0.5); }
    .home-slide.four h3 {
      font-size: 25px;
      letter-spacing: 3px;
      padding-bottom: 24px;
      font-weight: 600;
      text-shadow: 0 0 0.25em rgba(0, 0, 0, 0.5);
      text-transform: uppercase; }
    .home-slide.four p {
      text-transform: unset;
      padding: 40px 0;
      color: #fff;
      font-size: 18px;
      line-height: 2em; }
  .home-slide.five {
    background-color: teal;
    background-image: url(../img/home/champagne.gif);
    background-size: cover;
    background-position: center; }
    .home-slide.five::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.24);
      z-index: 8; }
    .home-slide.five h2 {
      padding-bottom: 25px;
      font-size: 40px;
      letter-spacing: 3px;
      text-transform: uppercase;
      text-shadow: 0 0 0.25em rgba(0, 0, 0, 0.5); }
    .home-slide.five h3 {
      font-size: 25px;
      letter-spacing: 3px;
      font-weight: 600;
      padding-bottom: 24px;
      text-shadow: 0 0 0.25em rgba(0, 0, 0, 0.5);
      text-transform: uppercase; }
  .home-slide.six {
    background-color: grey;
    background-image: url(../img/home/callcenter.gif);
    background-size: cover;
    background-position: center; }
    .home-slide.six h2 {
      padding-bottom: 25px;
      font-size: 40px;
      letter-spacing: 3px;
      text-transform: uppercase;
      text-shadow: 0 0 0.25em rgba(0, 0, 0, 0.5); }
    .home-slide.six .texto {
      padding: 15px 0 40px;
      color: #fff;
      font-size: 18px;
      line-height: 2em; }
    .home-slide.six::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 8; }
  .home-slide.seven {
    background-color: black;
    background-image: url(../img/home/sleeping.gif);
    background-size: cover;
    background-position: center; }
    .home-slide.seven h2 {
      padding-bottom: 25px;
      font-size: 40px;
      letter-spacing: 3px;
      text-transform: uppercase;
      text-shadow: 0 0 0.25em rgba(0, 0, 0, 0.5); }
  .home-slide--wrapper {
    padding: 24px;
    position: relative;
    z-index: 88; }
    .home-slide--wrapper p {
      text-transform: uppercase;
      font-size: 16px;
      line-height: 2em; }
  .home-slide--cta {
    padding: 24px 0;
    font-size: 13px; }

.home-pagination {
  position: fixed;
  bottom: 0;
  z-index: 888;
  justify-content: center;
  display: flex;
  padding: 36px 24px;
  align-items: center; }
  .home-pagination .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background-color: #FFF !important;
    transition: .8s;
    opacity: 1 !important;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.16); }
    .home-pagination .swiper-pagination-bullet-active {
      width: 16px;
      height: 16px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.16); }

.patrocinios {
  background-color: black;
  background-image: url(../img/home/office.gif);
  background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed; }
  .patrocinios::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 8; }
  .patrocinios-wrapper {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .patrocinios-content {
    padding: 40px 24px;
    position: relative;
    z-index: 88;
    width: 100%; }
    .patrocinios-content h1 {
      font-size: 40px;
      letter-spacing: 3px;
      text-transform: uppercase;
      text-shadow: 0 0 0.25em rgba(0, 0, 0, 0.5);
      color: #FFF; }
    .patrocinios-content h2 {
      padding-bottom: 25px;
      letter-spacing: 3px;
      font-size: 20px;
      color: #FFF; }
    .patrocinios-content .texto {
      font-size: 16px;
      line-height: 2em;
      padding: 15px 0 40px;
      color: #FFF; }
      .patrocinios-content .texto strong {
        font-size: 18px; }
    .patrocinios-content .iban {
      padding: 24px;
      background-color: #fff;
      text-align: left;
      color: #111;
      max-width: 400px;
      margin: auto;
      border-radius: 16px;
      font-size: 12px; }
      .patrocinios-content .iban [data-copy] {
        cursor: pointer; }
        .patrocinios-content .iban [data-copy]:first-child {
          margin-bottom: 25px; }
        .patrocinios-content .iban [data-copy] .title {
          display: flex;
          align-items: center;
          margin-bottom: 0.5em;
          font-size: 16px; }
          .patrocinios-content .iban [data-copy] .title svg {
            margin-right: 0.5em; }
          .patrocinios-content .iban [data-copy] .title.copied::after {
            content: 'Copiado';
            display: inline-block;
            color: white;
            background-color: green;
            padding: 4px;
            font-size: 12px;
            margin-left: 20px;
            border-radius: 2px; }
          .patrocinios-content .iban [data-copy] .title.error::after {
            content: 'Erro';
            display: inline-block;
            color: white;
            background-color: red;
            padding: 4px;
            font-size: 12px;
            margin-left: 20px;
            border-radius: 2px; }
      .patrocinios-content .iban .gform_wrapper {
        padding-top: 20px;
        margin-top: 20px;
        border-top: 1px solid #eee; }
        .patrocinios-content .iban .gform_wrapper .gform_footer {
          font-size: 12px;
          display: flex;
          justify-content: center; }
          .patrocinios-content .iban .gform_wrapper .gform_footer input {
            color: #fff;
            background-color: #001959;
            border-style: solid;
            border-color: #001959;
            border-radius: 3em;
            border-width: 1px;
            padding: 1em 1.5em;
            line-height: 1em;
            font-size: 1em;
            transition: .25s;
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            text-transform: uppercase; }
        .patrocinios-content .iban .gform_wrapper .gform_title {
          color: #000; }

.error--main {
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-position: center top;
  padding-top: 100px;
  padding-bottom: 160px;
  background-attachment: fixed; }

.error--overlay {
  background-color: transparent;
  opacity: 0.5;
  background-image: linear-gradient(140deg, #313131 40%, #0693e3 64%);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8; }

.error--container {
  max-width: 1240px;
  padding: 0 24px;
  box-sizing: content-box;
  margin: auto;
  position: relative;
  z-index: 88; }

.error--header {
  max-width: 800px;
  padding-bottom: 60px; }
  .error--header h1 {
    color: #FFF;
    font-size: 240px;
    line-height: 1em;
    padding: 0;
    margin: 0;
    font-weight: 700; }
    @media (max-width: 768px) {
      .error--header h1 {
        font-size: 160px; } }
    @media (max-width: 550px) {
      .error--header h1 {
        font-size: 100px; } }
  .error--header h2 {
    color: #FFF;
    font-size: 45px;
    line-height: 1.25em;
    font-weight: 600; }

.error--content {
  font-size: 18px;
  color: #3eb8d7; }

.error--go_back {
  padding-top: 60px; }
  .error--go_back--cta {
    color: #fff;
    background-color: transparent;
    border-style: solid;
    border-color: #fff;
    border-radius: 42px;
    border-width: 1px;
    padding: 15px 30px;
    font-size: 10px;
    display: inline-flex;
    align-items: center;
    transition: .25s;
    text-transform: uppercase; }
    .error--go_back--cta .material-icons {
      transition: .8s;
      margin-right: .5em; }
    .error--go_back--cta:hover {
      background-color: #254FBC;
      border-color: #254FBC; }
      .error--go_back--cta:hover .material-icons {
        margin-right: 1.5em; }

.page-main {
  position: relative;
  min-height: 100vh; }
  .page-main::before {
    content: '';
    width: 50%;
    max-width: 550px;
    padding-bottom: 50%;
    height: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-image: url(../img/home/canto-direito.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain; }
  .page-main::after {
    content: '';
    width: 50%;
    max-width: 550px;
    padding-bottom: 50%;
    height: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    background-image: url(../img/home/canto-esquerdo.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: contain; }

.page-container {
  padding: 75px;
  position: relative;
  z-index: 8; }
  @media (max-width: 550px) {
    .page-container {
      padding-left: 24px; } }

.page-row {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap; }

.page-article {
  width: calc(100% - 205px);
  padding-right: 65px; }
  @media (max-width: 1200px) {
    .page-article {
      width: 100%; } }

.page-sidebar {
  width: 205px;
  border-left: 8px solid #D9D9D9; }
  @media (max-width: 1200px) {
    .page-sidebar {
      width: 100%;
      border-top: 8px solid #D9D9D9;
      border-left: 0;
      margin-top: 80px; } }

.page-header {
  padding-bottom: .5em; }
  .page-header h1 {
    font-size: 46px;
    line-height: 1.5em;
    padding-bottom: .5em; }
    @media (max-width: 768px) {
      .page-header h1 {
        font-size: 30px; } }
    @media (max-width: 550px) {
      .page-header h1 {
        font-size: 25px; } }
  .page-header h2 {
    font-size: 35px;
    line-height: 1.5em;
    padding-bottom: .5em; }
    @media (max-width: 768px) {
      .page-header h2 {
        font-size: 25px; } }
    @media (max-width: 550px) {
      .page-header h2 {
        font-size: 20px; } }
  .page-header h3 {
    font-size: 25px;
    line-height: 1.5em;
    padding-bottom: .5em; }
    @media (max-width: 768px) {
      .page-header h3 {
        font-size: 20px; } }
    @media (max-width: 550px) {
      .page-header h3 {
        font-size: 18px; } }

.page-content {
  font-size: 16px;
  line-height: 1.5em; }
  .page-content .row-iframer {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
    width: calc(100% + 40px); }
    .page-content .row-iframer .colomne-iframer {
      padding: 20px;
      width: 50%; }
      @media (max-width: 768px) {
        .page-content .row-iframer .colomne-iframer {
          width: 100%; } }
  .page-content img {
    height: auto; }

.page-prendre_contact {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 24px; }
  @media (max-width: 550px) {
    .page-prendre_contact {
      padding: 8px; } }
  .page-prendre_contact .gform_page_footer input {
    background-color: #254FBC;
    padding: 0.8em 1.25em;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    border: none;
    cursor: pointer; }

.cta {
  color: #000;
  background-color: #FFF;
  border-style: solid;
  border-color: #FFF;
  border-radius: 3em;
  border-width: 1px;
  padding: 1em 1.5em;
  line-height: 1em;
  font-size: 1em;
  transition: .25s;
  cursor: pointer;
  display: inline-flex;
  align-items: center; }
  .cta * {
    color: inherit; }
  .cta img {
    display: block;
    width: 1em;
    object-fit: contain;
    height: 1em;
    margin-right: 0.8em; }
  .cta:hover {
    border-color: #001959;
    background-color: #001959;
    color: #FFF; }

.cta-blue {
  color: #FFF;
  background-color: #001959;
  border-style: solid;
  border-color: #001959;
  border-radius: 3em;
  border-width: 1px;
  padding: 1em 1.5em;
  line-height: 1em;
  font-size: 1em;
  transition: .25s;
  cursor: pointer;
  display: inline-flex;
  align-items: center; }
  .cta-blue * {
    color: inherit; }
  .cta-blue img {
    display: block;
    width: 1em;
    object-fit: contain;
    height: 1em;
    margin-right: 0.8em; }
  .cta-blue:hover {
    border-color: #254FBC;
    background-color: #254FBC; }

.underline {
  color: #FFF;
  border-style: solid;
  border-bottom: 1px solid;
  padding: .25em 0;
  line-height: 1.5em;
  font-size: 1em;
  transition: .25s;
  cursor: pointer; }

#back_top {
  position: fixed;
  bottom: 100px;
  right: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #FFF;
  background-color: #254FBC;
  border: 1px solid #FFF;
  z-index: 888;
  display: none;
  cursor: pointer; }
  #back_top .material-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.prendre_contact .gform_confirmation_message {
  padding: 80px;
  max-width: 880px;
  margin: 0 auto;
  background-color: #254FBC; }
  @media (max-width: 768px) {
    .prendre_contact .gform_confirmation_message {
      padding: 40px; } }
  @media (max-width: 550px) {
    .prendre_contact .gform_confirmation_message {
      padding: 24px; } }
  .prendre_contact .gform_confirmation_message * {
    color: #FFF; }
  .prendre_contact .gform_confirmation_message h2 {
    font-size: 24px; }
    @media (max-width: 550px) {
      .prendre_contact .gform_confirmation_message h2 {
        font-size: 18px; } }

.prendre_contact_wrapper {
  padding: 80px;
  max-width: 680px;
  margin: 0 auto;
  background-color: #254FBC; }
  @media (max-width: 768px) {
    .prendre_contact_wrapper {
      padding: 40px; } }
  @media (max-width: 550px) {
    .prendre_contact_wrapper {
      padding: 24px; } }
  .prendre_contact_wrapper * {
    color: #FFF; }
  .prendre_contact_wrapper .gform_heading {
    padding-bottom: 40px; }
    .prendre_contact_wrapper .gform_heading .gform_title {
      display: inline-flex;
      position: relative;
      padding-bottom: 2px;
      font-size: 24px;
      line-height: 1.5em;
      text-transform: uppercase; }
      .prendre_contact_wrapper .gform_heading .gform_title:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        border-bottom: 3px solid; }
  .prendre_contact_wrapper .gform_footer {
    padding-top: 40px;
    display: flex;
    justify-content: center; }
    .prendre_contact_wrapper .gform_footer [type="submit"] {
      color: inherit;
      background-color: transparent;
      border-style: solid;
      border-color: inherit;
      border-radius: 48px;
      border-width: 1px;
      padding: 1.5em 3em;
      font-size: 12px;
      text-transform: uppercase;
      transition: .25s;
      font-weight: 500;
      cursor: pointer;
      letter-spacing: 2px; }
      .prendre_contact_wrapper .gform_footer [type="submit"]:hover {
        background-color: #FFF;
        color: #254FBC; }

.prendre_contact .gfield {
  margin-bottom: 24px; }
  .prendre_contact .gfield_label {
    display: block;
    margin-bottom: .8em; }
  .prendre_contact .gfield_required_text {
    margin-left: .5em;
    font-size: .88em;
    color: #f7f7f7;
    vertical-align: top; }

.prendre_contact .ginput_container {
  /*the container must be positioned relative:*/ }
  .prendre_contact .ginput_container input {
    padding: 1em 1.5em;
    border-radius: 4px;
    background-color: #FFF;
    color: #254FBC;
    line-height: 1em;
    border: 1px solid #3eb8d7; }
    .prendre_contact .ginput_container input.large {
      width: 100%; }
  .prendre_contact .ginput_container_textarea textarea {
    padding: 1em 1.5em;
    border-radius: 4px;
    background-color: #FFF;
    color: #254FBC;
    line-height: 1em;
    border: 1px solid #3eb8d7;
    width: 100%; }
  .prendre_contact .ginput_container_select {
    position: relative;
    /*style the arrow inside the select element:*/
    /*point the arrow upwards when the select box is open (active):*/
    /*style the items (options), including the selected item:*/
    /*style items (options):*/
    /*hide the items when the select box is closed:*/ }
    .prendre_contact .ginput_container_select select {
      display: none; }
    .prendre_contact .ginput_container_select .select-selected {
      position: relative;
      padding: 1em 1.5em;
      border-radius: 4px;
      background-color: #FFF;
      color: #254FBC;
      line-height: 1em;
      border: 1px solid #3eb8d7; }
    .prendre_contact .ginput_container_select .select-selected:after {
      position: absolute;
      content: "";
      top: 50%;
      right: 1.5em;
      transform: translateY(calc(-50% + 3px));
      width: 0;
      height: 0;
      border: 6px solid;
      border-color: #254FBC transparent transparent transparent; }
    .prendre_contact .ginput_container_select .select-selected.select-arrow-active {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0; }
      .prendre_contact .ginput_container_select .select-selected.select-arrow-active:after {
        border-color: transparent transparent #254FBC transparent;
        transform: translateY(calc(-50% - 3px)); }
    .prendre_contact .ginput_container_select .select-items div {
      color: #254FBC;
      border: 1px solid;
      border-color: transparent #3eb8d7 #3eb8d7 #3eb8d7;
      cursor: pointer;
      user-select: none;
      padding: 1em 1.5em;
      border-radius: 4px;
      background-color: #FFF;
      line-height: 1em; }
      .prendre_contact .ginput_container_select .select-items div:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px; }
    .prendre_contact .ginput_container_select .select-items {
      position: absolute;
      background-color: #FFF;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 88; }
    .prendre_contact .ginput_container_select .select-hide {
      display: none; }
    .prendre_contact .ginput_container_select .select-items div:hover, .prendre_contact .ginput_container_select .same-as-selected {
      background-color: rgba(0, 0, 0, 0.1); }

.contact {
  max-width: 670px;
  margin-bottom: 50px; }
  .contact-wrapper {
    display: flex;
    align-items: center; }
  .contact-image img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover; }
  .contact-container {
    border-left: 8px solid #001959;
    padding: 10px 20px; }
    .contact-container.avec_image {
      padding: 0 0 0 40px; }
  .contact-title {
    font-size: 32px;
    line-height: 1.5em;
    padding-bottom: 8px;
    font-weight: 600; }
    @media (max-width: 550px) {
      .contact-title {
        font-size: 24px; } }
  .contact-content {
    font-size: 22px;
    line-height: 1.5em; }
    @media (max-width: 550px) {
      .contact-content {
        font-size: 14px; } }
    .contact-content strong {
      color: #254FBC; }

.card-image {
  width: 100%;
  padding-bottom: 60%;
  position: relative;
  margin-bottom: 16px; }
  .card-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }

.card-infos {
  color: #969696;
  font-size: 14px;
  padding: 16px 0; }
  .card-infos .separator {
    display: inline-block;
    margin: 0 8px; }

.card-title {
  font-size: 24px;
  line-height: 1.5em;
  padding-bottom: 8px;
  font-weight: 600; }

.card-content {
  font-size: 18px;
  line-height: 1.5em;
  word-break: break-word; }

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px; }

.card-reading {
  display: flex;
  align-items: center;
  font-size: 14px; }
  .card-reading img {
    margin-right: 8px; }

.livre {
  max-width: 888px;
  margin-bottom: 50px; }
  .livre-container {
    display: flex;
    flex-wrap: wrap; }
    @media (max-width: 550px) {
      .livre-container {
        flex-direction: column; } }
  .livre-image {
    width: 210px; }
    @media (max-width: 550px) {
      .livre-image {
        width: 100%; } }
    .livre-image .thumbnail {
      width: 100%;
      padding-bottom: 150%;
      position: relative; }
      .livre-image .thumbnail img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block; }
  .livre-infos {
    padding-left: 50px;
    width: calc(100% - 210px); }
    @media (max-width: 550px) {
      .livre-infos {
        padding-left: 0;
        padding-top: 20px;
        width: 100%; } }
  .livre-title {
    font-size: 32px;
    line-height: 1.5em;
    padding-bottom: 8px;
    font-weight: 600; }
    @media (max-width: 992px) {
      .livre-title {
        font-size: 24px; } }
  .livre-content {
    font-size: 22px;
    line-height: 1.5em; }
    @media (max-width: 992px) {
      .livre-content {
        font-size: 16px; } }
    .livre-content > br {
      display: none; }
  .livre-link {
    padding-top: 16px; }

.these {
  max-width: 888px;
  margin-bottom: 50px; }
  .these-wrapper {
    display: flex;
    flex-wrap: wrap; }
  .these-title {
    font-size: 32px;
    line-height: 1.5em;
    padding-bottom: 8px;
    font-weight: 600; }
    @media (max-width: 550px) {
      .these-title {
        font-size: 24px; } }
  .these-content {
    font-size: 22px;
    line-height: 1.5em; }
    @media (max-width: 550px) {
      .these-content {
        font-size: 14px; } }
  .these-link {
    font-size: 16px;
    padding-top: 16px; }
    @media (max-width: 550px) {
      .these-link {
        font-size: 12px; } }

.applications {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 27px; }
  .applications-title {
    font-size: 18px;
    line-height: 2em;
    font-weight: bold;
    margin-bottom: 27px; }
  .applications-item {
    width: 100%;
    padding-bottom: 12px; }
    .applications-item:last-child {
      padding-bottom: 0; }
    .applications-item a {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      width: 100%;
      font-size: 14px; }
      .applications-item a svg {
        margin-right: 12px;
        display: inline-block;
        transition: .8s;
        width: 24px;
        height: 24px; }
      .applications-item a span {
        width: calc(100% - 36px); }

.conference {
  max-width: 888px;
  margin-bottom: 50px; }
  .conference-container {
    display: flex;
    flex-wrap: wrap; }
    @media (max-width: 768px) {
      .conference-container {
        flex-direction: column; } }
  .conference-image {
    width: 400px;
    display: flex;
    position: relative; }
    @media (max-width: 768px) {
      .conference-image {
        width: 100%; } }
    .conference-image .play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 88;
      width: 45px; }
    .conference-image .thumbnail {
      width: 100%;
      padding-bottom: 56.25%;
      position: relative;
      z-index: 8; }
      .conference-image .thumbnail img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block; }
  .conference-infos {
    padding-left: 50px;
    width: calc(100% - 400px); }
    @media (max-width: 768px) {
      .conference-infos {
        padding-left: 0;
        padding-top: 20px;
        width: 100%; } }
  .conference-title {
    font-size: 32px;
    line-height: 1.5em;
    padding-bottom: 8px;
    font-weight: 600; }
    @media (max-width: 992px) {
      .conference-title {
        font-size: 24px; } }
  .conference-content {
    font-size: 22px;
    line-height: 1.5em; }
    @media (max-width: 992px) {
      .conference-content {
        font-size: 16px; } }
    .conference-content > br {
      display: none; }
  .conference-link {
    padding-top: 16px;
    font-size: 14px; }

.site {
  max-width: 888px;
  margin-bottom: 50px; }
  .site-wrapper {
    display: flex;
    flex-wrap: wrap; }
  .site-title {
    font-size: 32px;
    line-height: 1.5em;
    padding-bottom: 8px;
    font-weight: 600; }
  .site-content {
    font-size: 22px;
    line-height: 1.5em; }
  .site-link {
    font-size: 16px;
    padding-top: 16px; }

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  background-color: #254FBC;
  z-index: 8;
  height: 100vh;
  overflow: hidden; }
  @media (max-width: 1060px) {
    .sidebar {
      display: none; } }
  .sidebar-logo {
    padding: 25px; }
    .sidebar-logo a {
      display: block; }
    .sidebar-logo img {
      display: block;
      width: 100%;
      height: auto; }
  .sidebar .menu {
    list-style: none;
    padding: 0; }
    .sidebar .menu-sidebar-container {
      padding-top: 70px; }
    .sidebar .menu-item {
      text-align: right; }
      .sidebar .menu-item:not(:last-child) {
        padding-bottom: 25px; }
      .sidebar .menu-item a {
        color: #FFF;
        padding: 0 25px;
        font-size: 18px;
        position: relative; }
        .sidebar .menu-item a:after {
          content: '';
          position: absolute;
          z-index: 8;
          right: -5px;
          top: 50%;
          transform: translate(100%, -50%);
          width: 26px;
          height: 11px;
          background-image: url("../img/sidebar/link_active.svg");
          display: block;
          transition: .8s; }
      .sidebar .menu-item.current-menu-item a:after {
        transform: translate(0, -50%); }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 888; }
  .modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    object-fit: contain;
    background-color: transparent;
    border: 0;
    z-index: 88;
    padding: 0; }
  .modal-dialog {
    max-width: 460px;
    width: 90%;
    margin: 50px auto; }
  .modal-content {
    background-color: #fff;
    padding: 40px;
    border-radius: 20px; }

.message_block-title {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  line-height: 1.5em; }

.message_block-cta {
  padding-top: 40px;
  font-size: 14px;
  text-align: center; }

.spinner {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-top-color: #254FBC;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite; }

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg); } }

.category-container {
  padding: 75px 35px 75px 75px;
  position: relative;
  z-index: 8; }
  @media (max-width: 1060px) {
    .category-container {
      padding: 75px 35px; } }
  @media (max-width: 768px) {
    .category-container {
      padding: 35px; } }

.category-title {
  color: #000;
  font-size: 68px;
  line-height: 1em;
  padding-bottom: 54px;
  margin: 0;
  font-weight: 600; }
  @media (max-width: 768px) {
    .category-title {
      font-size: 50px; } }
  @media (max-width: 768px) {
    .category-title {
      font-size: 35px; } }

.category-filter {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #ddd; }
  .category-filter--letters {
    width: calc(100% - 230px); }
    @media (max-width: 550px) {
      .category-filter--letters {
        width: 100%;
        padding-bottom: 35px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap; } }
  .category-filter .letters-item {
    width: 26px;
    height: 26px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #ddd;
    transition: .8s;
    cursor: pointer;
    margin-bottom: 14px;
    margin-right: 14px;
    border: none; }
    @media (max-width: 550px) {
      .category-filter .letters-item {
        margin: 7px; } }
    .category-filter .letters-item:hover {
      background-color: #001959;
      color: #FFF; }
    .category-filter .letters-item.active {
      width: 36px;
      height: 36px;
      background-color: #001959;
      color: #FFF; }
  .category-filter--selectors {
    width: calc(100% - 230px);
    display: flex;
    justify-content: flex-start; }
    @media (max-width: 550px) {
      .category-filter--selectors {
        width: 100%;
        padding-bottom: 35px; } }
  .category-filter .themes {
    position: relative;
    z-index: 888; }
    @media (max-width: 550px) {
      .category-filter .themes {
        width: 100%; } }
    .category-filter .themes-opener {
      display: flex;
      align-items: center;
      border: 1px solid #000;
      color: #000;
      background-color: #EBEBEB;
      padding: .5em 1em;
      font-size: 18px;
      border-radius: 4px;
      cursor: pointer;
      width: 255px;
      justify-content: space-between; }
      @media (max-width: 550px) {
        .category-filter .themes-opener {
          width: 100%; } }
      .category-filter .themes-opener img {
        margin-left: 16px;
        width: 24px;
        height: 24px;
        object-fit: contain;
        position: relative; }
      .category-filter .themes-opener.active {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0; }
        .category-filter .themes-opener.active img {
          transform: rotate(180deg); }
    .category-filter .themes-list {
      position: absolute;
      bottom: 0;
      transform: translateY(100%);
      left: 0;
      background-color: #EBEBEB;
      border: 1px solid #000;
      border-top: 0;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      overflow: hidden; }
    .category-filter .themes-item {
      padding: .5em 1em;
      margin: 0;
      font-size: 18px;
      width: 100%;
      border: 0;
      text-align: left;
      cursor: pointer; }
      .category-filter .themes-item:not(:last-child) {
        border-bottom: 1px solid; }
      .category-filter .themes-item.active, .category-filter .themes-item:hover {
        background-color: #254FBC;
        color: #FFF; }
  .category-filter--search {
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    @media (max-width: 550px) {
      .category-filter--search {
        width: 100%; } }
  .category-filter .search-input {
    width: 100%;
    color: #001959;
    background-color: #f7f7f7;
    border: 1px solid #001959;
    border-radius: 4px;
    display: block;
    padding: 8px 16px;
    font-size: 16px;
    line-height: 1em; }
    .category-filter .search-input::-webkit-input-placeholder {
      color: #001959; }
    .category-filter .search-input:-moz-placeholder {
      color: #001959; }
    .category-filter .search-input::-moz-placeholder {
      color: #001959; }
    .category-filter .search-input:-ms-input-placeholder {
      color: #001959; }
  .category-filter .search-trigger {
    background-color: transparent;
    border: 0;
    padding: 0 8px; }

.category-loader {
  padding-top: 80px;
  display: flex;
  justify-content: center; }

.category-load_more {
  padding-top: 80px;
  display: flex;
  justify-content: center; }
  .category-load_more button {
    max-width: 240px; }

.category-post {
  padding-bottom: 80px;
  max-width: 988px; }
  .category-post--image {
    padding-bottom: 80px; }
    .category-post--image img {
      width: 100%;
      object-fit: cover;
      max-height: 500px; }
  .category-post--title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: .5em; }

/*# sourceMappingURL=src/maps/base.css.map */
